<% include ../partials/header %>
<img src= "<%=user.picture%>" class="img-rounded"  width="20%" height="20%" alt="No image"class="img-responsive" alt="Responsive image">
<h1><%=title%></h1>
<table class="table table-striped">
  <tr>
    <th>Skills</th>
    <th>Point</th>
  </tr>
  <% for(var i=0;i<skills.length;i++){%>
  <tr>
    <td><%=skills[i].name%></td>
    <td><%=skills[i].UserSkill.skill_point%></td>
  </tr>
  <% }%>
</table>
<button type="button" name="button"><a href="http://localhost:3000/user">HOME</a></button>
<% include ../partials/footer %>
